<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js - Tutorial</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
      <ul>
        <li v-for="comment in comments"
        v-bind:key="comment"
        is="showcomment"
        v-bind:commentpost="comment"></li>
      </ul>
      <input type="text" v-model="newComment" v-on:keyup.enter="addComment">
    </div>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
